certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==1.7.2
Django==1.11.4
django-cors-headers==2.1.0
idna==2.6
mongoengine==0.13.0
pyasn1==0.3.4
pycparser==2.18
PyJWT==2.4.0
pymongo==3.5.1
pytz==2017.2
requests==2.18.4
six==1.10.0
urllib3==1.22
